mixin deltaPlaceHolderMain

	// PlaceHolder Main
	// ==============================================================================================================================
	SharePoint:AjaxDelta#DeltaPlaceHolderMain(BlockElement="true", IsMainContent="true", runat="server")
		a#mainContent(name='mainContent', tabindex='-1')
		asp:ContentPlaceHolder#PlaceHolderMain(runat="server")/