mixin deltaFormDigest
	// Form Digest
	// ==============================================================================================================================
	SharePoint:AjaxDelta#DeltaFormDigest(BlockElement="true", runat="server")
		asp:ContentPlaceHolder#PlaceHolderFormDigest(runat="server")
			SharePoint:FormDigest(runat="server")/