mixin hiddenPlaceHolders

	// Hidden placeholders
	// ==============================================================================================================================
	asp:ContentPlaceHolder#PlaceHolderSiteName(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderHorizontalNav(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderPageImage(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderTitleLeftBorder(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderMiniConsole(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderTitleRightMargin(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderTitleAreaSeparator(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderNavSpacer(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderLeftNavBarBorder(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderBodyLeftBorder(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderBodyRightMargin(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderBodyAreaClass(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderTitleAreaClass(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderGlobalNavigation(runat="server", Visible="false")/
	asp:ContentPlaceHolder#PlaceHolderGlobalNavigationSiteMap(runat="server", Visible="false")/
	asp:ContentPlaceHolder#WSSDesignConsole(runat="server", Visible="false")/