/* TOC - MOBILE | WebParts | Custom Webpart | Members
---------------------------------------------------

* MEMBERS HOME PAGE
* OUR MEMBERS

*/

// * MEMBERS HOME PAGE
// ================================================================================ */


.ms-WPBody,
.ms-wpContentDivSpace {

	#membersSection & {
		padding: 10px 0;
	}
}


#membersSection {
	h2 {
		background: image-url('MembersTitleIcon_50x50.png') no-repeat 0;
		background-size: 45px 45px;
		margin: 0.25em 0;
		padding-left: 63px
	}

	ul {
		@extend %w100p;
		list-style-type: none;
		margin: 0;
		padding: 0
	}

	li {
		display:inline-block;
		padding: 5px 0;
		vertical-align: middle;
		text-align: center;
		width:100%
	}

	img {
		max-height: 72px;
		max-width: 135px
	}
}


// Our members Page

.ourMembers#membersSection {

	li {
		text-align: center;
		vertical-align: top;
		margin-bottom: 40px
	}

	.memberTitle {
		padding:1em 5em;
		text-align: center
	}
}

.picMemberCont {
	display: inline-block;
	height: 75px;
	vertical-align: middle
}


@media (min-width:361px) and (max-width:1024px) {

	#membersSection {
	
		li {
			width:50%
		}

	}

}