/* TOC - DESKTOP | Controls | Logo
---------------------------------------------------
* MAIN CONTAINER
* LINK / PIC

*/


// * LOGO | MAIN CONTAINER
// ================================================================================================================================================ */

#siteIcon {
	float:left;
	//height:64px;
	line-height:64px;
	min-width:64px;
	margin:20px 40px 20px 20px;
	text-align:center
}


// * LOGO | LINK  / PIC.
// ================================================================================================================================================ */

.ms-siteicon-a,
.ms-siteicon-img {
	display:inline-block;
	max-width:597px;
	max-height:92px;
	height: 102px
}