/* TOC - DESKTOP | Controls | Site Elements
---------------------------------------------------
* For sections in header and footer - O365 Public websites


*/


@if $SPO365public == true {
	.ms-#{$SPO365themeApplied}-pageheader {
		@extend %fn;
		max-width:240px;
		margin-top:25px;

		& .ms-rtestate-field {
			display:block!important;
			margin: 0 auto
		}
	}
}