/* TOC - DESKTOP | CONTENT STYLES | Tables | Table style V1
-----------------------------------------------------------



*/


@include customSPTable
(
  V1,
  bold 120% "robotoregular",
  bold 120% "robotoregular",
  bold 120% "robotoregular",
  bold 120% "robotoregular",

  // default
  $outerBorderColor: $no-color, 
  $innerBorderColor: $no-color,
  $paddingVariante: 10px,

  //header
  $headerBorderWidth: 0 0 2px 0,
  $headerBorderColor: $color17,
  $headerTextAlign: left,
  $headerValign: middle,
  $headerBkg: $color11,
  $headerColor:$color17,

  //Footer
  $footerBorderWidth: 2px 0 0 0,
  $footerBorderColor: $color17,
  $footerTextAlign: left,
  $footerValign: middle,
  $footerBkg: $color17,
  $footerColor:$color11,

  // First col
  $firstColBorderRightWidth: 2px,
  $firstColBorderColor: $color17,
  //$firstColBkg: $color1,
  $firstColValign: top,
  $firstColTextAlign: left,

  // Last col
  $lastColBorderLeftWidth:2px,
  $lastColBorderColor: $color17,
  //$lastColBkg: $color16,
  $lastColValign: top,
  $lastColTextAlign: center,

  // Rows
  $even-row-Bkg: $color11,
  $odd-row-Bkg: $color11,
  $rowHoverBkg: $color18,
  $colorRowHover: $color11,
  $rowBorderWidth: 1px 0 0 0,
  $rowBorderColor: $color17,
  $rowValign:top,

  // Cols
  $even-col-Bkg: $color11,
  $odd-col-Bkg: $color11,

  // Cells
  $colorVarianteTxt: $color17,
  $colorVariante1: $color11,
  $colorVariante2: $color5,

  // Responsive
  $borderTableRWDwidth: 0,
  $borderRowRWDwidth: 0,
  $rowMarginBottom: 30px,
  $borderCellRWDwidth:0 0 1px,
  $borderCellFirstChildRWDwidth: 1px 0
);
