/* TOC - DESKTOP | CONTENT STYLES | Font styles
---------------------------------------------------
	
	* Default Theme font families
	* Default font families
	* Default font sizes
	
*/


// * Default theme Font families
// ============================================================================================================================================================================*/

.ms-rteThemeFontFace-1 {
	-ms-name:"Body";
	/* [ReplaceFont(themeFont:"body")] */ font-family:"Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}

.ms-rteThemeFontFace-2 {
	-ms-name:"Heading";
	/* [ReplaceFont(themeFont:"heading")] */ font-family:"Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
}


// * Default Font families
// ============================================================================================================================================================================*/

.ms-rteFontFace-1 {
-ms-name:"Tahoma";
font-family:tahoma;
}

.ms-rteFontFace-2 {
	-ms-name:"Courier";
	font-family:courier,monospace;
}

.ms-rteFontFace-3 {
	-ms-name:"Times New Roman";
	font-family:"Times New Roman",Times,serif;
}

.ms-rteFontFace-4 {
	-ms-name:"Comic Sans";
	font-family:"Comic Sans","Comic Sans MS",cursive;
}

.ms-rteFontFace-5 {
	-ms-name:"Calibri";
	font-family:Calibri;
}

.ms-rteFontFace-6 {
	-ms-name:"Georgia";
	font-family:Georgia;
}

.ms-rteFontFace-7 {
	-ms-name:"Impact";
	font-family:Impact;
}

.ms-rteFontFace-8 {
	-ms-name:"Trebuchet MS";
	font-family:"Trebuchet MS",helvetica;
}

.ms-rteFontFace-9 {
	-ms-name:"Palatino Linotype";
	font-family:"Palatino Linotype",Palatino,serif;
}

.ms-rteFontFace-10 {
	-ms-name:"Lucida Console";
	font-family:"Lucida Console",monaco,sans-serif;
}

.ms-rteFontFace-11 {
	-ms-name:"Garamond";
	font-family:garamond;
}

.ms-rteFontFace-12 {
	-ms-name:"Segoe UI";
	font-family:"Segoe UI",Tahoma;
}



// * Default Fonts  Size
// ============================================================================================================================================================================*/

.ms-rteFontSize-1 {
	font-size:9pt;
}

.ms-rteFontSize-2 {
	font-size:11pt;
}

.ms-rteFontSize-3 {
	font-size:13pt;
}

.ms-rteFontSize-4 {
	font-size:18pt;
}

.ms-rteFontSize-5 {
	font-size:24pt;
}

.ms-rteFontSize-6 {
	font-size:36pt;
}

.ms-rteFontSize-7 {
	font-size:48pt;
}

.ms-rteFontSize-8 {
	font-size:72pt;
}
