/* TOC - DESKTOP | LAYOUTS | Home page
---------------------------------------------------

* NEWS SECTION

*/

// * NEWS SECTION
// ================================================================================================================================================ */

#newsSection {
	background-color:$color2;
	position:relative;
	left:-20px;
	padding:0 20px;
	width:100%
}

