mixin signInAnonymous

	// Sign In
	// ==============================================================================================================================
	SharePoint:SPSecurityTrimmedControl(runat="server", AuthenticationRestrictions="AnonymousUsersOnly")
		wssuc:Welcome(runat="server", EnableViewState="false")/