mixin deltaPlaceHolderGroupActionsArea

	// Group Actions
	// ==============================================================================================================================

	SharePoint:AjaxDelta#DeltaPlaceHolderGroupActionsArea(BlockElement="true", CssClass="ms-floatRight ms-noWrap", runat="server")
		SharePoint:DelegateControl(runat="server", ControlId="GroupActionsTop", allowmultiplecontrols="true")/