mixin SPSiteLogo

	// Site Logo
	// ==============================================================================================================================

	SharePoint:AjaxDelta#DeltaSiteLogo(BlockElement="true", runat="server")
		SharePoint:SPSimpleSiteLink#onetidProjectPropertyTitleGraphic(CssClass="ms-siteicon-a", runat="server")
			SharePoint:SiteLogoImage#onetidHeadbnnr2(CssClass="ms-siteicon-img", name="onetidHeadbnnr0", LogoImageUrl="/_layouts/15/images/siteIcon.png?rev=38", runat="server")/
